@import url(../../../bower_components/normalize-css/normalize.css);
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(7deg); }

  75% {
    -webkit-transform: rotate(-7deg); } }

@-moz-keyframes tilt {
  0% {
    -moz-transform: rotate(0deg); }

  25% {
    -moz-transform: rotate(7deg); }

  75% {
    -moz-transform: rotate(-7deg); } }

@-o-keyframes tilt {
  0% {
    -o-transform: rotate(0deg); }

  25% {
    -o-transform: rotate(7deg); }

  75% {
    -o-transform: rotate(-7deg); } }

@keyframes tilt {
  0% {
    transform: rotate(0deg); }

  25% {
    transform: rotate(7deg); }

  75% {
    transform: rotate(-7deg); } }

section {
  *zoom: 1; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  background: none no-repeat center center fixed;
  background-size: cover; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Arial, sans-serif; }

a {
  cursor: pointer;
  color: #6699cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }
