@import url(../../../bower_components/normalize-css/normalize.css);
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(7deg); }

  75% {
    -webkit-transform: rotate(-7deg); } }

@-moz-keyframes tilt {
  0% {
    -moz-transform: rotate(0deg); }

  25% {
    -moz-transform: rotate(7deg); }

  75% {
    -moz-transform: rotate(-7deg); } }

@-o-keyframes tilt {
  0% {
    -o-transform: rotate(0deg); }

  25% {
    -o-transform: rotate(7deg); }

  75% {
    -o-transform: rotate(-7deg); } }

@keyframes tilt {
  0% {
    transform: rotate(0deg); }

  25% {
    transform: rotate(7deg); }

  75% {
    transform: rotate(-7deg); } }

/**** THUMB COLORS ****/
/** Think Header and footer color **/
.left {
  float: left; }

.right {
  float: right; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-transform: lowercase; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.4em; }

a {
  cursor: pointer;
  color: #ef5b13;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

main {
  font-weight: 400;
  margin: 14% auto 0;
  max-width: 1240px;
  padding-bottom: 5%;
  position: relative;
  width: 90%; }
  @media screen and (min-width: 480px) {
    main {
      margin-top: 12%; }
      main h1 {
        font-size: 2em; }
      main h2 {
        font-size: 1.6em; } }
  @media screen and (min-width: 640px) {
    main {
      margin-top: 10%; }
      main h1 {
        font-size: 2.1em; } }
  @media screen and (min-width: 960px) {
    main {
      margin-top: 13%; }
      main h1 {
        margin-bottom: 5%; }
      main h1 + h2 {
        margin-top: -2%; } }
  @media screen and (min-width: 1024px) {
    main {
      margin-top: 7%; }
      main h1 {
        font-size: 2.4em; }
      main h2 {
        font-size: 2em; } }

header {
  font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-transform: lowercase;
  background-color: #222;
  margin: 0;
  min-height: 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  @media screen and (min-width: 640px) {
    header {
      min-height: 5%; } }

nav {
  color: white;
  margin: 0 auto;
  padding: 1% 2% 3%;
  width: 95%;
  line-height: 1em; }
  nav a {
    color: white;
    text-decoration: none; }
    nav a:hover {
      color: #ef5b13;
      text-decoration: none; }
  nav ul {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 50%; }
    nav ul li {
      display: inline;
      font-weight: 200;
      padding-right: 12%; }
      nav ul li:hover {
        color: #ef5b13; }
  nav p.contact {
    float: right;
    font-weight: light;
    margin: 0;
    padding-right: 1%;
    width: 40%; }
    nav p.contact a {
      padding: 0 9% 0 7%; }
      nav p.contact a:hover {
        text-decoration: none; }
  @media screen and (min-width: 640px) {
    nav {
      font-size: 1.1em;
      padding: 1.3% 2% 3%; }
      nav p.contact a {
        font-size: 1.2em; } }
  @media screen and (min-width: 1024px) {
    nav {
      padding: 1% 2% 3.5%; }
      nav ul li {
        padding-right: 12%; }
      nav p.contact a {
        font-size: 1.3em; } }
  @media screen and (min-width: 1240px) {
    nav {
      padding: 0.8% 2% 2.8%; } }

footer {
  background-color: #222;
  clear: both;
  position: absolute;
  width: 100%; }
  footer #about {
    margin: 0 auto;
    max-width: 1240px;
    padding: 5%;
    width: 90%; }
    footer #about img {
      border-radius: 14%;
      margin-bottom: 3%;
      margin-right: 5%;
      max-width: 150px;
      width: 25%; }
    footer #about p {
      font-family: 'Raleway', Helvetica Neue, Arial, sans-serif;
      font-size: 14px;
      font-weight: 200;
      color: #000;
      color: white;
      line-height: 1.4em;
      margin-top: 0; }
    @media screen and (min-width: 480px) {
      footer #about img {
        width: 18%; }
      footer #about p {
        font-size: 1.2em; } }
    @media screen and (min-width: 960px) {
      footer #about {
        padding-top: 4%; }
        footer #about p {
          line-height: 1.6em; }
        footer #about img {
          width: 12%; } }
  @media screen and (min-width: 640px) {
    footer #about img {
      width: 16%; }
    footer #about p {
      font-size: 1.2em;
      line-height: 1.45em; } }
  @media screen and (min-width: 1024px) {
    footer #about {
      float: left;
      padding: 3%;
      width: 80%; }
      footer #about p {
        font-size: 1.4em;
        line-height: 1.7em; }
      footer #about img {
        width: 15%; } }

.wrap404 {
  margin-left: -6%;
  max-width: 1024px; }
  .wrap404 img {
    display: inline-block;
    width: 50%; }
  .wrap404 p {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 7%;
    padding-left: 5%;
    vertical-align: top;
    width: 45%; }
  @media screen and (min-width: 640px) {
    .wrap404 p {
      font-size: 1.8em; } }
  @media screen and (min-width: 1024px) {
    .wrap404 p {
      font-size: 2.2em; } }
  @media screen and (min-width: 1400px) {
    .wrap404 {
      margin-left: -9%; } }

.project img {
  display: inline-block;
  max-width: 960px;
  width: 100%; }
.project p {
  display: inline-block;
  font-size: 1.2em;
  max-width: 1240px;
  padding: 3%;
  vertical-align: top;
  width: 90%; }
@media screen and (min-width: 480px) {
  .project p {
    font-size: 1.3em; } }
@media screen and (min-width: 640px) {
  .project p {
    font-size: 1.5em; } }
@media screen and (min-width: 960px) {
  .project p {
    font-size: 1.7em; } }

.thumb-index {
  max-width: 1078px;
  margin-bottom: 15%; }
  @media screen and (min-width: 1024px) {
    .thumb-index {
      margin-bottom: 10%; } }

.thumb-indiv {
  display: inline-block;
  margin: 1%;
  max-width: 256px;
  padding-left: 1.5%;
  width: 43%; }
  .thumb-indiv:hover .thumb-img {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .thumb-indiv .thumb-img {
    float: left;
    margin-bottom: -3px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 2; }
    .thumb-indiv .thumb-img img {
      max-width: 256px;
      width: 100%; }
  .thumb-indiv .label {
    float: left;
    font-weight: 400;
    overflow: hidden;
    padding: 0.3em;
    position: absolute;
    width: 40%;
    z-index: 1; }
    .thumb-indiv .label p {
      font-size: 0.9em;
      font-weight: 700;
      line-height: 1em;
      margin: 0.3em 0; }
    .thumb-indiv .label .small {
      font-size: 0.8em;
      font-weight: 400; }
  @media screen and (min-width: 640px) {
    .thumb-indiv .label {
      padding: 0.5em;
      width: 31%; }
      .thumb-indiv .label p {
        font-size: 1.3em;
        line-height: 1.2em;
        margin: 0.3em 0; }
      .thumb-indiv .label .small {
        font-size: 1.3em; } }
  @media screen and (min-width: 960px) {
    .thumb-indiv .label {
      width: 20%; } }

/** THUMBNAIL COLOR ASSIGNMENT **/
.thumb-indiv.w1 {
  background-color: #e59905;
  color: #e59905; }
  .thumb-indiv.w1:hover {
    color: black; }

.thumb-indiv.w2 {
  background-color: #19b4a0;
  color: #19b4a0; }
  .thumb-indiv.w2:hover {
    color: black; }

.thumb-indiv.w3 {
  background-color: #ef5b13;
  color: #ef5b13; }
  .thumb-indiv.w3:hover {
    color: black; }

.thumb-indiv.w4 {
  background-color: #79bd2f;
  color: #79bd2f; }
  .thumb-indiv.w4:hover {
    color: black; }

.thumb-indiv.w5 {
  background-color: #dd3716;
  color: #dd3716; }
  .thumb-indiv.w5:hover {
    color: black; }

.thumb-indiv.w6 {
  background-color: #e59905;
  color: #e59905; }
  .thumb-indiv.w6:hover {
    color: black; }

.thumb-indiv.w7 {
  background-color: #19b4a0;
  color: #19b4a0; }
  .thumb-indiv.w7:hover {
    color: black; }

/********** DARWIN STUDY **********/
#darwin p.top {
  border-left: 5px solid #e59905; }
#darwin p.bottom {
  border-top: 5px solid #e59905; }
#darwin img.col2 {
  max-width: 540px; }
@media screen and (min-width: 640px) {
  #darwin p.bottom {
    border-top: none;
    border-right: 5px solid #e59905;
    margin-bottom: 25%;
    margin-top: 19%;
    width: 30%; }
  #darwin img.col1 {
    margin-bottom: 5%; }
  #darwin img.col2 {
    width: 60%;
    float: right; } }
@media screen and (min-width: 1024px) {
  #darwin p.top {
    float: right;
    margin-top: 23%;
    width: 30%; }
  #darwin img.col1 {
    width: 60%; } }
@media screen and (min-width: 1240px) {
  #darwin img.col2 {
    margin-right: 10%; } }

/*********** WHISKEY ENDEAVORS *******/
#whiskey iframe {
  width: 100%;
  height: 243px;
  margin-top: 5%; }
#whiskey p.top {
  border-bottom: 5px solid #19b4a0; }
#whiskey p.bottom {
  border-left: 5px solid #19b4a0; }
@media screen and (min-width: 480px) {
  #whiskey iframe {
    height: 355px; }
  #whiskey p.top {
    margin-bottom: 10%; } }
@media screen and (min-width: 640px) {
  #whiskey iframe {
    max-width: 853px;
    height: 480px;
    margin: 3% auto; } }
@media screen and (min-width: 960px) {
  #whiskey p.bottom {
    width: 45%; }
  #whiskey img.col1, #whiskey img.col2, #whiskey img.col3 {
    width: 48%; }
  #whiskey img.col1 {
    margin-bottom: 10%; }
  #whiskey img.col2 {
    float: right; } }
@media screen and (min-width: 1400px) {
  #whiskey iframe {
    margin-bottom: 10%; }
  #whiskey p.top {
    margin-left: 5%;
    width: 20%; } }

/************ MANIPS ****************/
#manip p.top {
  border-right: 5px solid #ef5b13; }
#manip img.col1 {
  max-width: 792px; }
@media screen and (min-width: 960px) {
  #manip p.top {
    width: 30%;
    float: right; }
  #manip img.col1 {
    width: 60%; } }

/************ CHARCOAL *****************/
#charcoal p.top {
  border-right: 5px solid #79bd2f; }
#charcoal p.middle {
  border-top: 5px solid #79bd2f; }
#charcoal p.two {
  border-top: none;
  margin-top: 0; }
#charcoal img.col1, #charcoal img.col2 {
  max-width: 1024px;
  text-align: center; }

/************* SILLINESS *****************/
#silliness p.top {
  border-bottom: 5px solid #dd3716; }
#silliness p.middle {
  border-left: 5px solid #dd3716; }
#silliness img.col2 {
  margin-bottom: 5%; }
@media screen and (min-width: 768px) {
  #silliness img.col2 {
    padding-right: 5%; }
  #silliness img.col2, #silliness img.col3 {
    width: 45%;
    vertical-align: top; } }

/***** API MOBILE DEMO ******/
#api img {
  max-width: 320px;
  width: 100%; }
#api p.top {
  border-bottom: 5px solid #e59905;
  margin-bottom: 5%; }
#api p.middle {
  border-left: 5px solid #e59905; }
#api p.bottom {
  border-right: 5px solid #e59905; }
@media screen and (min-width: 640px) {
  #api img {
    width: 48%; }
  #api p.middle, #api p.bottom {
    float: left;
    width: 50%;
    margin-top: 25%; }
  #api p.bottom {
    float: right; } }
@media screen and (min-width: 960px) {
  #api img.col1 {
    margin-right: 15%; }
  #api p.middle, #api p.bottom {
    width: 65%; } }

/****** BD *******/
#bd img.col1 {
  max-width: 320px;
  width: 41%; }
#bd img.col2 {
  float: left;
  max-width: 850px; }
#bd p.top {
  border-left: 5px solid #e59905;
  margin: 18% 5%;
  padding-right: 1%;
  width: 41%; }
#bd p.bottom {
  border-top: 5px solid #e59905; }
@media screen and (min-width: 960px) {
  #bd p.top {
    margin: 12% 6%;
    width: 38%; } }
@media screen and (min-width: 1024px) {
  #bd img.col1 {
    margin-top: 1%;
    width: 22%; }
  #bd img.col2 {
    width: 60%; }
  #bd img.col4 {
    width: 50%; }
  #bd p.top {
    margin: 4% 2%;
    width: 40%; } }

/******** 125 *************/
#csuc h1 {
  font-size: 1.6em; }
#csuc img.col3, #csuc img.col4, #csuc img.col5, #csuc img.col7 {
  width: 90%;
  border: 10px solid black;
  border-radius: 10px;
  margin-bottom: 10px; }
#csuc p.top {
  border-right: 5px solid #19b4a0; }
#csuc p.middle {
  border-left: 5px solid #19b4a0; }
#csuc p.bottom {
  border-bottom: 5px solid #19b4a0; }
@media screen and (min-width: 640px) {
  #csuc h1 {
    font-size: 1.8em; } }
@media screen and (min-width: 960px) {
  #csuc h1 {
    font-size: 2.4em; }
  #csuc img.col1 {
    width: 50%; }
  #csuc img.col3, #csuc img.col4 {
    margin-bottom: 5%;
    margin-right: 4%;
    width: 60%; }
  #csuc img.col5, #csuc img.col6, #csuc img.col7 {
    width: 43%; }
  #csuc img.col5 {
    background-color: #893604;
    margin-right: 3%;
    padding-bottom: 6%; }
  #csuc p.top {
    margin-top: 3%;
    width: 30%; }
  #csuc p.middle, #csuc p.bottom {
    margin-top: 6%;
    width: 20%; } }

/********** GALAXY ***********/
#galaxy img.col2 {
  margin-bottom: 2em; }
#galaxy p.top {
  border-bottom: 5px solid #79bd2f; }
#galaxy p.bottom {
  border-bottom: 5px solid #79bd2f; }
@media screen and (min-width: 960px) {
  #galaxy p.top, #galaxy p.bottom {
    margin: -2% 2% inherit;
    vertical-align: top;
    width: 33%; }
  #galaxy p.top {
    margin-bottom: 6%; }
  #galaxy p.bottom {
    float: left;
    margin-top: 5%; }
  #galaxy img.col1, #galaxy img.col2 {
    width: 57%; } }
@media screen and (min-width: 1240px) {
  #galaxy p.top {
    margin-top: 2.5%; } }

/********** INCOMM INCENTIVES ***********/
#incentives p.top {
  border-left: 5px solid #19b4a0; }

/********** PORTAL ***********/
#portal p.top {
  border-left: 5px solid #ef5b13; }
#portal p.bottom {
  border-right: 5px solid #ef5b13; }

/********** 40 STORIES ***********/
#s40 p.top {
  border-left: 5px solid #dd3716; }
#s40 p.middle {
  border-right: 5px solid #dd3716; }
#s40 p.bottom {
  border-top: 5px solid #dd3716; }
@media screen and (min-width: 960px) {
  #s40 p.top {
    vertical-align: top;
    width: 34%;
    margin-bottom: 6%; }
  #s40 p.middle {
    float: right;
    width: 34%; }
  #s40 p.bottom {
    margin-top: 5%; }
  #s40 img.col1, #s40 img.col2 {
    margin-bottom: 7%;
    width: 58%; } }
