<div class="container project" id="s40">
	<h1>{40 Stories: Game UI, Interaction;}</h1>

	<p class="top">California State University, Chico has a large-scale student run game studio. I was the 2D art lead and UI designer for the game <a href="http://chicostategamestudios.com/40stories/">40 Stories</a>.</p>

	<img class="col1" src="images/webs/40s-1d.png" />

	<p class="middle">I designed the GUI, in-game menu, starting menu and subsequent screens. The starting menu was a full 3D level, with the level select in the elevator as you move up the building through 40 stories.</p>

	<img class="col2" src="images/webs/40s-2d.png" />

	<p class="bottom">I also directed a team of 8-10 concept artists to create concepts and 2D game assets for the development departments. </p>

	<img class="col3" src="images/webs/40s-3d.png" />
</div>