@mixin font-defaults {
	font-family: $font-header;
	font-weight: $font-weight--light;
	color: $color-ic--white;
	font-size: 1.3em;
	line-height: 1.5em;
}
*::selection {
	background-color: darken($color-ic--WAT, 10);
	color: yellow;
}
body {
	left: 0;
	right: 0;
	z-index: 0;
	background-color: #1d3332;//blue from photo
	&:before {
		content: '';
		position: fixed;
		display: block;
		left: 0;
		right: 0;
		z-index: -1;
		background: url('../images/pdx-night-blur.jpg') local;
		background-size: cover;
		-webkit-filter: brightness(0.8) blur(10px); // 
		filter:brightness(0.7) blur(20px);
		width: 100%;
		height: 100%;
	}
}
.wrapper {
	padding: $gutter $gutter 0 $gutter;
}
.wrapper--mini {
	background: transparent;
	padding: 0;
	box-shadow:none;
}
main {
	@include clearfix();
	margin-left: 265px;
}
h1 {
	@include font-defaults;
	font-size: 3em;
	margin: 0 0 $gutter;
}
h2 {
	@include font-defaults;
	font-size: 2em;
	margin:$gutter/2 0;
}
h3 {
	@include font-defaults;
	font-family: $font-body;
	color: #1d3332;
}
p {
	color:$color-ic--middarkgrey;
	line-height:1.5em;
	font-size:0.9em;
	font-weight:$font-weight--light;
}
pre {
	position:relative;
	@include bg-transparentize($color: #000, $transparency: .2);
	width: 100%;
	border:1px solid rgba(0,0,0,0.14);
	box-shadow:inset 0 0 7px 10px rgba(0,0,0, 0.14), inset 0 -1px 0px 0px rgba(255,255,255, 0.09);
	border-radius:3px;
	color:darken($color-ic--white, 20);
	text-shadow:0 1px 0 rgba(0,0,0,0.24);
	padding: $gutter/2;
	border-radius: 3px;
	margin-bottom:0;
	@include corner-label("Code Pattern", auto, 0);
	@include breakpoint(wide) {
		float: right;
		width:48%;
		margin-left: $gutter/2;
	}
	code {
		font-family: $font-code;
		font-size:14px;
		overflow: none;
	}
}

//navigation ========
nav {
	@include bg-transparentize($transparency: .86);
	@include font-defaults;
	line-height:1.6em;
	font-size:1.2em;
	float: left;
	border:1px solid $color-ic--white;
	margin-top: -2px;//border height offset. Thanks border-box model
	padding:0;
	position: fixed;
	border-radius:2px;
	width: 266px;
	text-shadow:0 1px 3px rgba(0,0,0,0.44);
	a {
		display: block;
		padding:$gutter/4 $gutter/2;
		color:$color-ic--white;
		opacity:0.8;
		border-bottom:1px solid transparentize($color-ic--white, .3);
		.fa {
			opacity:0.4;
			float: right;
			line-height:2.1em;
			font-size:.8em;
		}
		&:hover {
			opacity:1;
			background:rgba(255,255,255,0.2);
			text-decoration:none;
			color:$color-ic--white;
			.fa {
				opacity:1;
			}
		}
	}
	ul {
		list-style:none;
		ul {
			margin-left: $gutter;
			list-style:none;
		}
	}
}
//Sections ========
main section{
	@include bg-transparentize($transparency: .86);
	border:1px solid $color-ic--white;
	border-radius:2px;
	clear: left;
	padding:5px $gutter/2 $gutter $gutter/2;
	margin-bottom:$gutter;
	min-width: $half;
	margin-top: -2px;
	@include clearfix();
}

.dropdown {
	display:inline-block;
	@extend %dropdown;
	&:hover {
		.dropdown-trigger{
			background:lighten(#666, 15);
			cursor: pointer;
			box-shadow:$box-shadow--panel;
			text-decoration: none;
			border-radius:$border-radius--panel $border-radius--panel  0 0;
		}
		.dropdown-list {
			height:auto;
      padding:10px;
      min-width:150px;
      border:1px solid $color-ic--lightgrey;
      color:$color-ic--darkgrey;
			border-radius:$border-radius--panel 0 $border-radius--panel $border-radius--panel;
			background:$color-ic--white;
			box-shadow:$box-shadow--panel, 0 2px 4px 2px hsla(0%, 0, 0, 0.12);
		}
	}
}
.dropdown-trigger {
	@extend %dropdown-trigger;
	@extend %btn;
}
.dropdown-list {
	@extend %dropdown-list;
}

//forms
.docs-form, .panel, .modal, .wrapper--mini {
  @extend %panel;
  @include clearfix();
  @include breakpoint(wide) {
  	margin: 0 0 $gutter/2 0;
		width:50%;
		float: left;
		clear: left;
	}
	button {
		margin-bottom: $gutter/2;
	}
}

.nx .modal{
	position:relative;
}
//toggle
.panel__toggle {
	float: left;
	width:50%;
	padding:$gutter/2;
}


//upload
.uploader{
	@extend %panel;
	float: left;
	min-width:49%;
	padding:0 $gutter/2;
	margin-right: 5px;
	height:150px;
}



