.wrap404 {
    margin-left: -6%;
    max-width: 1024px;

    img {
        display: inline-block;
        width: 50%;
    }
    p {
        display: inline-block;
        font-size: 1.3em;
        margin-top: 7%;
        padding-left: 5%;
        vertical-align: top;
        width: 45%;  
    }
}