.project {
    // h1 {
    //     font-size: $basesize*1.5;
    //     line-height: $leading*1.5;
    // }
    h1 + .top {
        margin-top: 0;
    }
    img {
        display: inline-block;
        max-width: 960px;
        width: 100%;
    }
    p {
        display: inline-block;
        max-width: 1240px;
        padding: 3%;
        vertical-align: top;
        width: 90%;
    }
}