.project {
    img {
        display: inline-block;
        max-width: 960px;
        width: 100%;
    }
    p {
        display: inline-block;
        font-size: 1.2em;
        max-width: 1240px;
        padding: 3%;
        vertical-align: top;
        width: 90%;
    }
}