$box-shadow-color:rgba(0,0,0,0.15) !default;
.grid-picker__grid {
    .item-grid{
        left:147px;
        top:0;
        position: absolute;
        z-index:2;
        width:400px;
    }
}
.item-grid {
  @extend %panel;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.18), $box-shadow--panel;
  margin-top:0;
  ul {
    @extend %cleared;
    margin:0;
    padding:0;
    list-style: none;
  }
  li {
    float:left;
    margin:1%;
  }

}
.item-grid-header {
  position: relative;
  @extend %cleared;
  line-height:20px;
  margin:0px 2px 2px 2px;
}
.item-grid-footer {
  @extend .item-grid-header;
  margin:2px 2px 0px 2px; 
}
.item-art-selector {
  .item-art {
    float:none;
  }
  .item-art--current {
    border:1px dotted $color-ic--midlightgrey;
    line-height:170px;
    border-radius: 3px;
    background:lighten($color-ic--superlightgrey, 5);
    box-shadow: inset 0 0 3px 5px rgba(0,0,0,0.05);
  }
}
.item-art--current {
  position: relative;
  height:auto;
  color: $color-ic--midlightgrey;
  font-size: 1em;
  text-align: center;
  line-height:100px;
  cursor: pointer;
  @include transition(all .18s ease-in-out);
  &:hover{
    background:darken($color-ic--superlightgrey,5);
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.07);
  }
  img {
    border-radius:6px;
  }
  .item-art-fee {
    @include transition(all .18s ease-in-out);
    @extend %info-badge;
    right:0;
    bottom:-2px;
  }
}

button.item-grid-moreup, button.item-grid-moredown {
  clear:both;
  text-align: center;
  padding:2px 0;
  width:100%;
  border:none;
  background:$color-ic--superlightgrey;
  border-radius:$border-radius--panel $border-radius--panel 0 0;
  @include transition(all .18s ease-in-out);
  &:hover {
    background:$color-ic--blue;
    color:$color-ic--white;
  }
  &:disabled {
    color:$color-ic--lightgrey;
      &:hover {
      background:$color-ic--superlightgrey;
      color:$color-ic--lightgrey;
      cursor:default;
    }
  }
}
button.grid-moredown {
  border-radius:0 0 $border-radius--panel $border-radius--panel;
}

.item-grid-kill {
  position: absolute;
  top:0px;
  right:0px;
  padding:0px 4px;
  border-radius:100%;
}
.item-grid .add-custom-item-art {
 width:31.33%;
 height:70px;
 border-radius: $border-radius--panel;
 border:1px dotted $color-ic--midlightgrey;
 text-align:center;
 font-weight:12px;
 line-height:70px;
 background:$color-ic--superlightgrey;
 @include transition(all .18s ease-in-out);
 box-shadow: inset 0 0 3px 5px rgba(0,0,0,0.05);
 &:hover {
  color:$color-ic--white;
  background:$color-ic--blue;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.07);
 }
}
.item-grid .item {
  position: relative;
  width:31.33%;
  min-height:75px;
  cursor:pointer;
  @include transition(all .18s ease-in-out);
  .item-art-fee{
    @include transition(all .18s ease-in-out);
    @extend %info-badge;
    bottom:-2px;
    right:-2px;
  }
  .item-art-fee--tiered {
    @extend %info-badge;
    bottom:-2px;
    right:-2px;   
    background:$color-ic--yellow;
    border-radius:$border-radius--panel;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2);
    border: 1px solid darken($color-ic--yellow, 20);
    text-shadow: none;
    color: darken($color-ic--yellow, 35);
    @include transition(all .18s ease-in-out);
  }
  .custom-image-destroy {
    position: absolute;
    bottom:0px;
    left:0;
    opacity:0; 
    background:rgba(0,0,0,0.5);
    border-radius:0 $border-radius--panel 0 0;
    .destroy {
      border:none;
      background: none;
      padding:none;
      padding:2px;
      text-align: center;
    }
    i {
      color:$color-ic--white;
      font-size:14px;
      line-height: 14px;
      text-shadow: none;
    }
    &:hover {
      background:rgba(0,0,0,1.0);
      i {
        color:saturate(lighten($color-ic--red,20),20);
      }
    }
  }

  &:hover{
    background:$color-ic--blue;
    border-radius: 3px;
    .item-art-fee, .item-art-fee--tiered {
      right:33%;
    }
    .custom-item-destroy {
      opacity:1.0;
    }
  }

}

.switch-item-art {
  display: none;
  position:absolute;
  text-align: center;
  color: $color-ic--blue;
  line-height:20px;
  &:hover {
    text-decoration: underline;
  }
}


//gallery modification
.grid-picker--gallery {
  .item-grid-header, .item-grid-footer {
    margin:0;
  }
  .items {
    @extend %cleared;
  }
  .item {
    width:$third;
    float:left;
    @include transition(all .18s ease-in-out);
    &:hover {
      box-shadow:inset 0 2px 0px 0px rgba(0,0,0,0.2);
    }
    @include breakpoint(small) {
      width:50%;
    }
    @include breakpoint(mobile) {
      width:100%;
    }
  }
  img {
    width:100%;
  }
}