header {
    @include normal-text;
    background-color: $dark-grey;
    font-size: $basesize*1.3;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    @include breakpoint(small) {
        font-size: $basesize*1.5;
    }
    @include breakpoint(medium) {
        font-size: $basesize*1.7;
    }
}
    nav {
        color: white;
        margin: 0 auto;
        padding: $leading/4 0 $leading/4;
        text-align: center;
        width: 95%;
        max-width: 1024px;
        @include breakpoint(smaller) {
            text-align: left;
        }
        @include breakpoint (medium) {
            margin-left: $gutter;
        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $orange;
                text-decoration: none;
            }
        }
        ul {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            text-align: left;
            width: 51.5%;
            vertical-align: top;
            @include breakpoint(small) {
                margin-right: $gutter;
            }
            li {
                display: inline;
                font-weight: 200;
                padding-right: 12%;
                &:hover { 
                    color: $orange;
                }
            }
        }
        p.contact {
            display: inline-block;
            margin-left: -4px; //wat
            position:relative;
            margin: 0;
            a {
                padding-right: $gutter;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        
    }