main {
    margin-top: $leading;
    max-width: 1240px;
    padding: $leading $gutter;
    position: relative;
    width: 100%;
    @include breakpoint(medium) {
        margin-top: $leading*2;
    }
}