.thumb-index {
    max-width: 1078px;
    margin-bottom: $leading;
}
.thumb-indiv {
    display: inline-block;
    margin: 0 $gutter/2 $leading/2 0;
    max-width: 256px;
    padding-left: $gutter/4;
    width: 43%;
    @include breakpoint(small) {
        margin: 0 $gutter $leading 0;
    }
    &:hover {
        .thumb-img {
            opacity: 0;
            @include transition(all .3s ease-in-out);
        }
    }
    .thumb-img {
        float: left;
        margin-bottom: -7px;
        position: relative;
        @include transition(all .2s ease-in-out);
        z-index: 2; 
        img {
            max-width: 256px;
            width: 100%;
        }
    }
    .label {
        display: none;
        float: left;
        overflow: hidden;
        padding-top: $leading/4;
        padding-left: 5px;
        padding-right: 25px;
        position: absolute;
        width: 38.5%;
        z-index: 1;
        @include breakpoint (smaller) {
            display: block;
        }
        @include breakpoint (small) {
            width: 28%;
        }
        @include breakpoint (medium) {
            width: 25%;
        }
        @include breakpoint (wide) {
            width: 19%;
        }
        p {
            font-size: $basesize*1.2;
            font-weight: 700;
            margin: .3em 0;
            @include breakpoint (wide) {
                font-size: $basesize*1.3;
            }
        }
        .small {
            font-size: $basesize; 
            font-weight: 400;   
            @include breakpoint (wide) {
                font-size: $basesize*1.1;
            }          
        }
    }
}
/** THUMBNAIL COLOR ASSIGNMENT **/
@for $thumbs from 0 through $webthumbs {
    @each $color in $thumb-colors {
        @if $i <= $webthumbs {
            .thumb-indiv {
                &.w#{$i} {
                    background-color: $color;
                    color: $color;
                    &:hover {
                        color: black;
                    }
                }
                $i: $i+1;
            }
        }
    }
}