// _toggle.scss module
//a binary toggle to replace checkboxes

//  <div class="toggle--switch--is-off">
//    <div class="toggle-label">left</div>
//    <div class="toggle-label">right</div>
//    <div class="switch">|||</div>
//  </div>

.toggle {
  @extend %cleared;
  position: relative;
  border:1px solid darken($color-ic--superlightgrey, 10);
  background:$color-ic--superlightgrey;
  border-radius:$border-radius--panel;
  box-shadow:inset 0 2px 1px 1px $box-shadow-color;
  line-height:26px;
  cursor:pointer;
}

.toggle-label {
  float:left;
  width:50%;
  text-align:center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.switch {
    border:1px solid darken($color-ic--superlightgrey, 10);
    border-radius:$border-radius--panel;
    background:$color-ic--white;
    box-shadow:$box-shadow--panel;
    width:50%;
    text-align: center;
    position:absolute;
    padding:3px 0 5px 0;
    z-index:2;
    top:-5px;
    cursor:pointer;
    color:darken($color-ic--white,15);
    text-shadow:0 1px 0 darken($color-ic--white,8);
    @include transition(all .08s ease-in-out);
    &:hover{
      color:$color-btn--act;
    } 
}
.toggle--switch {
  @extend .toggle;
   @include clearfix(); //temp until extend is fixed in node-sass
  &.is-on {
    background:$color-btn--act;
    border:1px solid darken($color-btn--act,3);
    box-shadow:inset 0 2px 1px 1px $box-shadow-color;
    color:$color-ic--white;
    text-shadow:0 1px 0 darken($color-btn--act,3);
    .switch {
      left:50.5%;    
    }
  }
  &.is-off {
    .toggle-label{
      color:$color-ic--midlightgrey;
    }
    .switch {
      left:-1px;
    }
  }
} 

//a button toggle
.toggle--button {
  @extend .toggle;
  background:none;
  border:none;
  box-shadow:none;
 .toggle-label, .toggle-label--first, .toggle-label--last {
    font-weight:$font-weight--bold;
    margin-top: -4px;
    border-radius:$border-radius--panel;
    background:$color-ic--lightgrey;
    box-shadow:$box-shadow--panel;
    border:none;
    width:$half;
    text-align: center;
    padding:2px 0 3px 0;
    line-height:31px;
    cursor:pointer;
    color:$color-ic--white;
    text-shadow:0 1px 0 rgba(0,0,0,0.08);
    @include transition(all .08s ease-in-out);
    &:first-child {
      margin-right:0.5%;
    }
    &:hover {
      color:$color-ic--white;
      background:desaturate($color-btn--success,20); 
    }
  }
  &.is-right{
    .toggle-label {
       border-radius:$border-radius--panel $border-radius--panel 0 $border-radius--panel;
      &:last-child {
        position:absolute;
        margin-top:0;
        right:1px;
        top:0;
        line-height:27px;
        color:$color-ic--white;
        background:$color-btn--success;
        border-radius:0 $border-radius--panel $border-radius--panel 0;
        box-shadow:inset 0 -2px 0 0 rgba(0,0,0,0.1), inset 0 1px 0 0 darken($color-ic--white, 5);
      }
    }
  }
  &.is-left {
    .toggle-label:last-child {
      float: right;
    }
    .toggle-label {
      border-radius:$border-radius--panel $border-radius--panel $border-radius--panel 0;
      &:first-child {
        position:absolute;
        margin-top:0;
        left:1px;
        top:0;
        color:$color-ic--white;
        line-height:27px;
        background:$color-btn--success;
        border-radius:$border-radius--panel 0 0 $border-radius--panel;
        box-shadow:inset 0 -2px 0 0 rgba(0,0,0,0.1), inset 0 1px 0 0 darken($color-ic--white, 5);
      }
    }
  }
}