//This file should only set standards for base html tags

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  @include normal-text;
}
h1, h2, h3, h4, h5, h6 {
  @include heading-text;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.4em;
}

a {
  cursor:pointer;
  color:$orange;
  text-decoration:none;
  &:hover {
    text-decoration: underline;
  }
}
section {
}

//reset lists because we typically don't utilize them in their default way. See Extends for normal lists
ul, ol {
  margin:0;
  padding:0;
  list-style: none;
}
