//Declare Responsive targets
//$break-mobile: 470px;
$break-smaller: 600px;
$break-small: 768px;
$break-medium: 1024px;
$break-large: 1200px; //1350px

@mixin breakpoint($media) {
  // @if $media == mobile {
  //   @media only screen and (max-width: $break-mobile) { @content; }
  // }
  @if $media == smaller {
    @media only screen and (min-width: $break-smaller) {@content; }
  }
  @if $media == small {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
@mixin normal-text {
  font: {
    family: 'Raleway', Helvetica Neue, Arial, sans-serif;
    size: $basesize;
    weight: 200;
  }
  line-height: $leading;
  color: #000;
  @include breakpoint(small) {
    font-size: $basesize*1.1;
    line-height: $leading*1.1;
  }
  @include breakpoint(medium) {
    font-size: $basesize*1.3;
    line-height: $leading*1.3;
  }
  @include breakpoint(wide) {
    font-size: $basesize*1.4;
    line-height: $leading*1.4;
  }
} 
@mixin heading-text {
  font: {
    family: 'Raleway', Helvetica Neue, Arial, sans-serif;
    size: $basesize*2;
    weight: 700;
  }
  line-height: $leading*2;
  color: #000;
  text-transform: lowercase;
  @include breakpoint(medium) {
    font-size: $basesize*2.2;
  }
  @include breakpoint(wide) {
    font-size: $basesize*2.4;
  }
} 