$font-header:"Raleway", "Helvetica Neue", Arial, sans-serif; //Similar to Gotham
$font-body:"Open Sans", "Helvetica Neue", Arial, sans-serif; //Similar to TodaySans

$font-weight--light: 100;
$font-weight--regular: 400;
$font-weight--normal:$font-weight--regular;
$font-weight--bold: 800;

$half:49.5%;
$third:33.33%;

$basesize: 16px;
$leading: $basesize*1.375;
$gutter: $basesize*1.375;

$i:1;
$webthumbs: 7;

/**** THUMB COLORS ****/
$blue: #19b4a0;
$green: #79bd2f;
$orange: #ef5b13;
$red: #dd3716;
$yellow: #e59905;
$thumb-colors: ($yellow, $blue, $orange, $green, $red);

$dark-grey: #222; /** Think Header and footer color **/
.left {float: left;}
.right {float: right;}

